[Unit]
Description=pmlc-smart detail disk status (force) (device /dev/%i)
Documentation=https://github.com/fm-elpac/pmlc-smart

[Timer]
# 5min after 10:00 (UTC+0800, CST) (pmlc-smart-ts)
OnCalendar=02:05 UTC
Persistent=true
# get disk info after boot
OnActiveSec=5m

[Install]
WantedBy=multi-user.target
