[Unit]
Description=pmlc-smart quick disk selftest (device /dev/%i)
Documentation=https://TODO

[Service]
Type=oneshot
ExecStart=smartctl -t short /dev/%i

# sandbox restrict this service
CapabilityBoundingSet=CAP_SYS_RAWIO
# allow /dev/%i
DeviceAllow=/dev/%i

ProcSubset=pid
NoNewPrivileges=yes
ProtectSystem=strict

ProtectHome=yes
PrivateNetwork=yes
PrivateIPC=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictNamespaces=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallFilter=@system-service
