[Unit]
Description=pmlc-smart fast disk status (device /dev/%i)
Documentation=https://github.com/fm-elpac/pmlc-smart

[Timer]
OnCalendar=minutely

[Install]
WantedBy=multi-user.target
